<!DOCTYPE html>
<html>
<head>
	<title>Eat da Burger</title>
	<link rel="stylesheet" href="./materialize/dist/css/materialize.css">
</head>
<body>



	{{{body}}}



<script type="text/javascript" src="./jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./materialize/dist/js/materialize.js"></script>
</body>
</html>