<!-- START OF MAIN BODY ROW -->
<div class="row" style="margin-bottom: -20px;">
  <!-- VIDEO -->
  <div class="col s12 green accent-3" style="line-height: 0px;">
    <div>Robot Writer
    An application to digitally transform your photos and designs into 3d physical objects through the use of the IOTS.

    </div>
    <div class="container center-align">
      <video autoplay muted loop class="responsive-video">
        <source src="assets/video/CAM.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <!-- END OF VIDEO -->

  <!-- START OF LOG IN -->
  <div class="col s5 offset-s1 green accent-1">
    <div class="container">
  <!-- START OF CONTENT -->
      <div class="divider"></div>
      <div class="section">
        <h5>Log in</h5>
        <input type="text" name="username" placeholder="username">        
        <input type="text" name="password" placeholder="password">        
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5 class="center-align">Authenticate</h5>
        <div class="center-align">
          <i class="fa fa-5x fa-github-square" aria-hidden="true"></i>   
          <i class="fa fa-5x fa-facebook-square" aria-hidden="true"></i>   
          <i class="fa fa-5x fa-google-plus-square" aria-hidden="true"></i>
        </div>
      </div>
  <!-- END OF CONTENT -->
    </div>
  </div>
  <!-- END OF LOG IN -->

  <!-- START OF SIGN UP -->
  <div class="col s5 green accent-4">
    <div class="container">
      <div class="divider"></div>
      <div class="section">
        <h5>Sign up now!</h5>
        <div class="section">
          <p>Sign up now because if you don't then you won't have a cool robot writing shit for you.</p>
          <a href="/signup"><button class="waves-effect waves-light btn">Sign me and my uncle up</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF SIGN UP -->

</div>